extends layout

block body
  header
    h1
      img(src='images/wintersmith.svg', alt='Wintersmith')
    hr
    div.download
      a(href='https://github.com/jnordberg/wintersmith') GitHub project
        img(src='images/github.svg')
      a(href=contents.docs.url) API Documentation
        img(src='images/docs.svg')
      
    div.intro!= contents['intro.md'].html
  section.content
    - var sellingPoints = _.chain(contents['selling-points']._.pages).sortBy(function(item) {
    -   return item.metadata['order'];
    - }).value()
    each sellingPoint in sellingPoints
      include partials/selling-point
  footer
    p Made in -34°C 
      a(href=contents.images['temp.png'].url) (for real)
