!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        if locals.title
          =locals.title + ' - '
        =locals.name
      link(rel='stylesheet', href='css/ascetic.css')
  body
    block body
      h1 Welcome to zombocom!
