<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{textify description true}}">
    <meta name="author" content="{{owner}}">
    <title>Archive - {{name}}</title>
    <link rel="alternate" href="{{url}}/feed.xml" type="application/rss+xml" title="{{textify description true}}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url}}">{{name}}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{url}}">Home</a></li>
              <li class="active"><a href="/archive.html">Archive</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container">
        <h2>Archive</h2>
          {{# archives contents.articles }}
            <strong>{{year}}</strong>
            <ul>
              <li>
                {{#months}}
                  <strong>{{month}}</strong>
                  <ul>
                    {{#articles}}
                      <li><a href="{{url}}">{{title}}</a></li>
                    {{/articles}}
                  </ul>
                {{/months}}
              </li>
            </ul>
          {{/ archives }}
      </div>

      <div class="container pageNav">
        <ul class="pagination">
          <li>{{#nextPage}}<a class="next pull-left" href="{{url}}">« Older</a>{{/nextPage}}</li>
          <li>{{#prevPage}}<a class="prev pull-right" href="{{url}}">Newer »</a>{{/prevPage}}</li>
        </ul>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">© {{date now format="YYYY"}} {{owner}}</p>
      </div>
    </div>
  </body>
</html>
